.button-header {
  width: 153px;
  height: 51px;
  background: white;
  border-radius: 14px;
  color: #9fd9ec;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 0 0 1px #9fd9ec none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  margin-top: 55px;
  margin-left: 50px;
  font-size: 20px;
}

.button-header:active {
  color: #eee;
  background: #76aabc;
}

.t-create .button-header {
  width: 153px;
  height: 51px;
  background: white;
  border-radius: 14px;
  color: #ffa756;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 0 0 1px #ffa756 none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  margin-top: 55px;
  margin-left: 50px;
  font-size: 20px;
}

.t-create .button-header:active {
  color: #eee;
  background: #ff6827;
}
