.double-button {
  padding: 10px 37px;
  gap: 15px;
  margin-left: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: normal;
  color: black;
  border: none;
  background: #fdf184;
  border-radius: 11px;
}
