.footer {
  display: flex;
}

.footer-logo {
  max-width: 80%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-contact {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 90px;
  margin-bottom: 25px;
}

.footer p {
  text-align: center;
}
