.list-des-temps-color {
  border-radius: 30px;
  background: #ffa756;
  margin-bottom: 56px;
  padding: 0px 60px 35px 60;
}

.list-des-temps {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list-des-temps-links {
  display: flex;
  flex-direction: column;
  border-radius: 31px;
  background: white;
  padding: 20px;

  max-width: 180px;
  display: inline-flex;
  padding: 15px;
  text-align: center;
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.list-des-temps-titre {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  padding: 38px 0px 28px 40px;
}

.list-des-temps-h4 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: flex;
  margin-left: 30px;
}
.list-des-temps-links button {
  border: solid black 2px;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border-radius: 8px;
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}

.list-des-temps-links button:active {
  opacity: 100%;
  font-family: "Josefin Sans", sans-serif;
  transition: none;
  background-color: black;
  color: azure;
}

.list-des-temps-selecteur {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: red;
  display: block;
  text-align: right;
  margin-right: 60px;
  margin-top: 55px;
  font-size: 20px;
}

.t-create .list-des-temps-color {
  border-radius: 30px;
  background: #acd8f1;
  margin-bottom: 56px;
  padding: 0px 60px 35px 60;
}
