.option-color {
  background-color: #f25c59;
  padding-left: 39px;
  padding-top: 36px;
  padding-bottom: 29px;
  border-radius: 31px;
}

.option-dropdown {
  background: #ffff;
  padding: 7px 5px;
  border-radius: 12px;
  border: none;

  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin-left: 97px;
}

.option-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.option-mode {
  margin-left: 130px;
}

.option-grp {
  display: flex;
  justify-items: flex-end;
  align-content: space-between;
  margin-bottom: 13px;
}

.option-titre {
  padding-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}
.t-create .input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.t-create .option-color {
  background: #c4f198;
}

.t-create .option-impression {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  .switch {
    -webkit-appearance: none;
    position: relative;
    border-radius: 10px;
    width: 32px;
    height: 20px;
    border: solid 1px var(--nonchecked-color);
    background: var(--nonchecked-color);
    overflow: hidden;
    transition: all 0.1s ease-out;
  }
  .switch:checked {
    background: var(--checked-color);
    border: solid 1px var(--checked-color);
  }
  .switch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .switch:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.1s ease-out;
  }
  .switch:checked:after {
    left: 14px;
  }
}

.t-create .option-impression .option-text {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.t-create .option-grp {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
