.text-welcome {
  background: white;
  border-radius: 19px;
  background: #a09eff;
  padding: 30px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  margin-top: 50px;
}
