.text-welcome {
  background: white;
  border-radius: 19px;
  background: #a09eff;
  padding: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 55px;
}
