.list-des-temps-color {
  border-radius: 30px;
  background: #ffa756;
}

.list-des-temps {
  padding: 10px;
}

.list-des-temps-links {
  display: flex;
  flex-direction: column;
  border-radius: 31px;
  background: white;
  padding: 20px;
  max-width: 180px;
  display: inline-flex;
  padding: 15px;
  text-align: center;
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.list-des-temps-titre {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.list-des-temps-h4 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.list-des-temps-links a {
  border: solid black 2px;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border-radius: 8px;
  opacity: 50%;
}

.list-des-temps-links a.is-active {
  opacity: 100%;
}

.list-des-temps-selecteur {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: red;
}
