.l-header {
  background-image: url(../img/header-background.png);
  background-size: 100%;
  background-color: #acd8f1;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 75px;
}

.t-create .l-header {
  background: orange;
}

.l-footer {
  background-image: url(../img/footer-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
